*{
    margin: 0;
    padding: 0;
    color: rgb(83, 83, 83);
}

body{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.nav-bar{
    display: flex;
    background: rgb(115, 120, 130);
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.menu-hamburger{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

input[type=search]{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px;
}

h1{
    text-align: center;
    color: black;
    font-size: 60px;
    padding-top: 25px;
    font-family: 'Pacifico', cursive;
}

.a-propos p{
    color: rgb(147, 147, 147);
    line-height: 20px;
    padding: 15px 15%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 80%;
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: rgb(115, 120, 130);
}

.flex-img{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-img img{
    box-shadow:8px 8px 10px 0 rgba(135, 135, 135, 0.5);
    border: double;
    border-width: 7px;
    border-color: rgb(116, 116, 116);
    width: 200px;
    height: auto;
    padding-bottom: 30px;
}

.flex-txt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;  padding: 30px 100px;
    box-sizing: border-box;
}

.flex-txt div {
    width: 32%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.flex-txt h2 {
    font-size: 20px;
}

.flex-txt p {
    font-size: 15px;
}

h2{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
}

p{
    color: rgb(147, 147, 147);
    font-family: 'Roboto', sans-serif;
}

/*FOOTER*/
footer{
    background: rgb(115, 120, 130);
    height: 60px;
  }

@media screen and (max-width: 900px) {
    .flex-img{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }
    .flex-img img{
        width: 40%;
    }
    .flex-txt{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .flex-txt div{
        width: 100%;
    }
    .menu-hamburger{
        display: block;
        color: white;
        margin-left: 30px;
        font-size: 30px;
        z-index: 10;
    }
    .nav-left{
        top: 0; 
        left: 0;
        position: absolute;
        background: rgb(115, 120, 130);
        width: 100%;
        height: 100vh;
        display: block;
        align-content: center;
        margin-left: -100%;
    }

    .nav-left a{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: white;
    }
    input[type=search]{
        display: none;
    }
    
    .mobile-menu{
        margin-left: 0;
    }
}